
html {
	height: 100%;
	margin: 0px;
}

body {
	margin: auto;
	padding: 0px;
	font-family: 'Quicksand', sans-serif;
	max-width: 1200px;
	height: 100%;
}

/*Header & nav styling */
header {
	margin: 20px 0px 0px 0px;
	padding-top: 2%;
	overflow: hidden;
}

h1 {
	padding: 1.5% 2% 0 2%;
	margin-left: 13%;
	background: #38364C;
	color: white;
	display: inline;
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
}

nav {
	display: inline;
	margin-right: 20px;
}

nav a {
	padding-left: 2%;
	padding-right: 2%;
	float: right;
	color: #38364C;
	font-size: 18px;
	text-decoration: none;
}

/*could turn hr into vr instead of using border property */
#centerNavA {
	border-left: 2px solid #38364C;
	border-right: 2px solid #38364C;
	margin: 0px 10px;
}

nav a:hover {
	font-size: 20px;
	font-weight: bold;
}

nav a:active {
	border: 2px solid #38364c;
	border-radius: 25px
}

nav a:visited {
	color: #3d2a4c;
}





/*header styles */ 

h2{
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	color: #38364C;
	padding-bottom: 3%;
	border-bottom: 2px solid #e3bab3;

}


/* Main body style */
main {
	background: #e9dccd;
	background: linear-gradient(#e9dccd, #e3bab3);
	padding: 3%;
	padding-bottom: 8%;
	overflow: auto;
	border-top: 1px solid #38364C;
}

.contentBox {
	max-width: 900px;
	margin: auto;
}

/* Main style section for all pages*/
.mainSection {
	padding: 2%;
	width: 50%;
	background: #e9dccd;
	border: 1px solid #38364C;
	border-radius: 20px;
	float: left;
}


/* Index.html about profile photo */
#aboutPhoto{
	max-height: 230px;
	display: inline-block;
	float: left;
	padding-right: 20px;
}


/* portfolio.html styling on the main section */
.alignCenter{
	text-align: center;
}

.portfolioSection{
	position: relative;
	width: 150px;
	display: inline-block;
	margin: 3%;
}

/* h3 portfolio styling */
h3.portfolioText {
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	color: #fff;
	background: #849974; 
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

/* image styling */
.portfolioImg {

}

/*Contact me section */
.connectWithMe {
	padding: 2%;
	width: 35%;
	background: #e9dccd;
	border: 1px solid #38364C;
	border-radius: 20px;
	float: right;
}

.connectWithMe img {
	width: 60px;
	height: 60px;
	margin: auto;
	padding: 2%;
}

.connectWithMe section {
	padding: 20px 0px;
	margin: auto;
	text-align: center;
}

/* Contact.html form styling */
fieldset {
	padding: 2%;
}

.width100 {
	width: 100%;
}

input {
	margin: 1% 0;
}


/*Footer */
footer {
	padding: 2%;
	background: #38364C;
	border-top: #849974 solid 8px;
	text-align: center;
	color: #fff;
}